<a href="https://colab.research.google.com/github/MercyNgila/Microsoft-Movie-EDA-Project/blob/main/RT_Data_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Rotten Tomato EDA

## Business Understanding

Exploratory data analysis for rotten tomato data.

### Objectives

- Question 1
- Question 2
- Question 3
- Question 4
- Question 5

## Data Understanding

## Loading libraries and data

### Loading libraries

In [2]:
from google.colab import drive

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Loading data

In [31]:
rt_info = pd.read_csv('/content/drive/MyDrive/Data Analysis Science/Rotten Tomato EDA/rt.movie_info.tsv', 
                      sep = '\t')

In [32]:
rt_reviews = pd.read_csv('/content/drive/MyDrive/Data Analysis Science/Rotten Tomato EDA/rt.reviews.tsv', 
                         sep = '\t', encoding = 'ISO-8859-1')

### Previewing data

In [35]:
rt_info.head()

,id,synopsis,rating,genre,director,writer,theater_date,dvd_date,currency,box_office,runtime,studio
0,1,"This gritty, fast-paced, and innovative police...",R,Action and Adventure|Classics|Drama,William Friedkin,Ernest Tidyman,"Oct 9, 1971","Sep 25, 2001",NaN,NaN,104 minutes,NaN
1,3,"New York City, not-too-distant-future: Eric Pa...",R,Drama|Science Fiction and Fantasy,David Cronenberg,David Cronenberg|Don DeLillo,"Aug 17, 2012","Jan 1, 2013",$,"600,000",108 minutes,Entertainment One
2,5,Illeana Douglas delivers a superb performance ...,R,Drama|Musical and Performing Arts,Allison Anders,Allison Anders,"Sep 13, 1996","Apr 18, 2000",NaN,NaN,116 minutes,NaN
3,6,Michael Douglas runs afoul of a treacherous su...,R,Drama|Mystery and Suspense,Barry Levinson,Paul Attanasio|Michael Crichton,"Dec 9, 1994","Aug 27, 1997",NaN,NaN,128 minutes,NaN
4,7,NaN,NR,Drama|Romance,Rodney Bennett,Giles Cooper,NaN,NaN,NaN,NaN,200 minutes,NaN

In [36]:
rt_reviews.head()

,id,review,rating,fresh,critic,top_critic,publisher,date
0,3,A distinctly gallows take on contemporary fina...,3/5,fresh,PJ Nabarro,0,Patrick Nabarro,"November 10, 2018"
1,3,It's an allegory in search of a meaning that n...,NaN,rotten,Annalee Newitz,0,io9.com,"May 23, 2018"
2,3,... life lived in a bubble in financial dealin...,NaN,fresh,Sean Axmaker,0,Stream on Demand,"January 4, 2018"
3,3,Continuing along a line introduced in last yea...,NaN,fresh,Daniel Kasman,0,MUBI,"November 16, 2017"
4,3,... a perverse twist on neorealism...,NaN,fresh,NaN,0,Cinema Scope,"October 12, 2017"

In [44]:
# Print shape of data
print(f'rt_info has {rt_info.shape[0]} rows and {rt_info.shape[1]} columns')
print(f'rt_reviews has {rt_reviews.shape[0]} rows and {rt_reviews.shape[1]} columns')

rt_info has 1560 rows and 12 columns
rt_reviews has 54432 rows and 8 columns

In [45]:
# print data information
rt_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1560 non-null   int64
 1   synopsis      1498 non-null   object
 2   rating        1557 non-null   object
 3   genre         1552 non-null   object
 4   director      1361 non-null   object
 5   writer        1111 non-null   object
 6   theater_date  1201 non-null   object
 7   dvd_date      1201 non-null   object
 8   currency      340 non-null    object
 9   box_office    340 non-null    object
 10  runtime       1530 non-null   object
 11  studio        494 non-null    object
dtypes: int64(1), object(11)
memory usage: 146.4+ KB